body {
    background-color: rgb(131, 179, 194);
}

div {
    text-align: center;
    width: 280px;
    height: 260px;
    padding: 7%;
    margin: 5%;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(74, 77, 77);
    margin-left: 35%;
}

.rect {
    height: 34px;
    width: 130%;
    margin: auto;
    background-color: rgb(158, 137, 83);
    margin-left: -50px;

}


.start {
    margin-left: -290px;
    margin-top: -30px;
}

.btn {
    margin-top: 20px;
    height: 40px;
    width: 130%;
    margin-left: -50px;
    background-color: rgb(180, 59, 22);
    color: white;
    border: none;
}

div input {
    height: 35px;
    width: 130%;
    margin-bottom: 10px;
    margin-left: -50px;
    margin-top: 8px;

}

.textheader {
    margin-left: -190px;
    margin-top: -25px;

}

.username {
    font-size: 18px;
    height: 35px;
    width: 130%;
    margin-left: -310px;
    color: rgb(94, 94, 94);
}

.password {
    font-size: 18px;
    height: 35px;
    width: 130%;
    margin-left: -310px;
    color: rgb(94, 94, 94);

}